$bg : #fff;
$size: 10px;
$mainColor : #069ef3;
$searchbg: #bfbfbf;
$userimg: 35px;
$rowhover: #06f341;

:host {
    background: rgba($bg, 0.8);
    display: grid;
}
.user {
    align-self: stretch;
    padding: $size*2 $size*4 ;
    
    h2 {
        padding: $size*2 $size*4;
        font-weight: 400;
    }
}