<div class="login__container">
  <form class="login__form" >
    <div>
    <legend>
      <!-- <img src="../../assets/branding1.svg"> -->
      <span class="mat-display-1">My ng app</span>
    </legend>
    
      <mat-form-field class="login-field--full-width">
        <input matInput placeholder="Please enter your email" type="email">
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field class="login-field--full-width">
        <input matInput placeholder="Please enter your password" type="password">
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <div class="login__actions">
        <button mat-raised-button color="primary">Login</button>
      </div>


    </div>

  </form>
</div>