<div class="login__container">
  <form class="login__form" [formGroup]="loginForm"  (ngSubmit)="loginForm.valid && login()">
    <div>
      <legend>
        <h1>{{'HELLO' | translate }}</h1>
        <span class="mat-display-1">{{'TITLE' | translate }}</span>
      </legend>

      <mat-form-field class="login-field--full-width">
        <input 
          id="email"
          matInput 
          placeholder="{{'LOGIN.EMAIL.PLACEHOLDER' | translate }}" 
          formControlName="email">
          <mat-hint align="end">admin@admin.com</mat-hint>
        <mat-error *ngIf="email?.errors?.email && !email?.errors?.required">
          {{'LOGIN.EMAIL.ERRORS.INVALID' | translate }}
        </mat-error>
        <mat-error *ngIf="email?.errors?.required">
          {{'LOGIN.EMAIL.ERRORS.REQUIRED.LABEL' | translate }}
          <strong>{{'LOGIN.EMAIL.ERRORS.REQUIRED.BOLD' | translate }}</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="login-field--full-width">
        <input 
          id="password"
          matInput 
          placeholder="{{'LOGIN.PASSWORD.PLACEHOLDER' | translate }}" 
          [type]="hidePassword ? 'password' : 'text'" 
          formControlName="password"
        >
        <mat-icon 
          matSuffix 
          (click)="hidePassword = !hidePassword"
          >{{hidePassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-hint align="end">dontknow1234</mat-hint>
        <mat-error *ngIf="password?.errors?.minlength && !password?.errors?.required">
          {{'LOGIN.PASSWORD.ERRORS.MINLENGTH' | translate:param }}
        </mat-error>
        <mat-error *ngIf="password?.errors?.required">{{'LOGIN.PASSWORD.ERRORS.REQUIRED' | translate }}</mat-error>
      </mat-form-field>

      <div class="login__actions">
        <button 
          mat-raised-button 
          color="primary"
          [disabled]="!loginForm.valid"
          >{{'LOGIN.BUTTON.LOGIN' | translate }}
        </button>
      </div>

      <div 
      class="login__errors"
      *ngIf="showLoginError"
      >
        <p>{{'LOGIN.INCORECT' | translate}}</p>
      </div>


    </div>

  </form>
</div>